<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>My Blog by Django</title>
</head>
<body>
<div>
                <h1><a href="">Django Blog</a></h1>
            </div>

            <div>
                <p>published: 11.02.2016, 12:14</p>
                <h2><a href="">My first post</a></h2>
                <p>aaaaaaa</p>
            </div>

            <div>
                <p>published: 11.02.2016, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>bbbbbbb</p>
            </div>
</body>
</html>